body {
	font-family: 'Comic Sans MS', arial;
	background-image: url("sea.png");
}

.container {
	margin: 100px;
}

h4 {
	font-size: 60px;
	color: #2B5994;
	text-decoration: underline;	
	font-family: 'Chalkduster', fantasy; 
	margin-left: 400px;                    
}

h1 {
	font-size: 40px;
	color: #2B5994;
	text-decoration: underline;	
	font-family: 'Chalkduster', fantasy;                     
}

h2 {
	font-size: 25px;
	color: #4169E1;
	text-decoration: underline;
}

h3	{
	font-size: 25px;
	text-decoration: underline;
}



p	{font-size: 20px;
}


.flexbox{
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
}

.boite{
	width: 200px;
	height: 50px;
	font-size: 25px;
	font-family: 'Comic Sans MS', arial;
}	



ul#navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:#090056;
}

li {
  float: left;
  font-size: 20px;
  margin-left: 70px; 
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #062878 on hover */
li a:hover {
  background-color:#062878;
}

.signe  {
	display:flex;
	align-items: center;
}

.signification {
	font-size: 40px;
	flex-grow: 1;
}
.image {
	flex-grow: 1;
}


button {
	border:none;
	padding: 50px;
	border-radius:8px;
	background:#4169E1;
	font:bold 13px Arial;
	color:#fff;
}

#button {

    width: 250px;
    margin: auto;
}

#button :hover {
background-color: #f41691;
color:#ffff;
}

a {
	font-size: 20px;
}


.videos {
margin: 0 auto;
width: 600px;
}

img {
	padding-top: 20px;
}

.image-center {
	margin: 0 auto;
	width: 700px;
}